@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: "Stratos";
	src: local("Stratos"),
		url(../src/assets/font/deliveroo-fonts_dfnsdf/StratosDeliverooWeb-SemiBold.ttf)
			format("truetype");
}
@font-face {
	font-family: "IBM-Plex";
	src: local("IBM-Plex"),
		url(../src/assets/font/deliveroo-fonts_dfnsdf/IBMPlexSans.ttf)
			format("truetype");
}

body {
	background-color: #f2f5f5;
	font-family: IBM-Plex;
	.header-title {
		font-family: Stratos;
	}
}

.element {
	width: 49%;
	height: 160px;
}
.shadow{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ibm {
	font-family: IBM-Plex;
}
